$fuente_primaria:"Courgette", serif;
body{background-color:#363533;}
header{background-color: #0d0707; height: 80px;}
.list-ib{display: inline-block;padding:30px 8px; font-family:$fuente_primaria;}
.list-ib a{color:#fffafa;}
a:hover{color:#fffafa;}
.col-md-6 img{
height:90px;
}